<div class="job-info">
	<div class="job-cloumn">
		<div class="job-line">
			<div class="job-item">
				<h4>Customer Name: </h4>
				{{jobs.customerName}}
			</div>
			<div class="job-item">
				<h4>Job Type: </h4>
				{{jobs.jobType}}
			</div>
		</div>
		<div class="job-line">
			<div class="job-item">
				<h4>Time: </h4>
				{{jobs.time}}
			</div>
			<div class="job-item">
				<h4>Status: </h4>
				{{jobs.status}}
			</div>
		</div>
		<div class="job-line">
			<div class="job-item">
				<h4>Notes: </h4>
				{{jobs.notes}}
			</div>
		</div>
	</div>
	<div class="job-cloumn">
		<div class="job-line">
			<div class="job-item">
				<h4>Dispatch Date: </h4>
				{{jobs.dispatchDate}}
			</div>
			<div class="job-item">
				<h4>Confirmed: </h4>
				{{jobs.confirmed}}
			</div>
		</div>
		<div class="job-line">
			<div class="job-item">
				<h4>From: </h4>
				{{jobs.from.title}}
			</div>
		</div>
		<div class="job-line">
			<div class="job-item">
				<h4>To: </h4>
				{{jobs.to.title}}
			</div>
		</div>
	</div>
</div>